.logo-banner {
    width: 22%;
    margin-right: 75%;
}

.font-banner {
    font-size: 24px; /* Change the font size as needed */
    font-weight: bold; /* Change the font weight as needed */
    color: #000; /* Change the font color as needed */
}